.gnb_mall {
    width: auto !important;
}
.gnb_mall a:before {
    background: none !important;
} 
ul {
    padding-left: 0px !important;
}
a:link {
    text-decoration: none !important;
}
.cmitem_quick_unit.ty_horizontal_scroll .cmitem_quick_cont {
    margin: auto !important;
    padding: 0px 0px 0px 3%;
}
.cmitem_quick_unit.ty_horizontal_scroll .cmitem_quick_lst > li {
    width: 90px !important;
}

.cmtit_heading .cmtit_subtxt {
    margin-bottom: 0px !important;
}

.mcom_gnb .gnb_util .gnb_util_search .gnb_search_inpbox_inp{
    background-color: #f5f5f5;
}

/* Login */
.login_container {
    padding: 50px 20px 0 20px;
}

.sns_logo {
    width: 50px;
}

/* ProductPrice */
.isSamePrice {
    visibility: hidden;
}

/* ProductImgTxt */
.mndtl_tmpl_detail {
    height: 800px;
    overflow: hidden;
}

.auto {
    height: auto !important;
}

.detail_button{
    padding: 5%;
    text-align: center;
}

.isNonView {
    display : none;
}

/* ProductBottomButton */
.ProductBottomButton ul.btm_bgn_bx.type_other1 {
    padding: 0;
}

.ProductBottomButton a{
    text-decoration: none;
}

.mndtl_opt_btm {
    bottom: -2%;
}

.isNonView {
    display: none;
}

.arrow_button {
    padding-left: 49%;
}

.select_box {
    margin: 1%;
    margin-bottom: 2%;
}

.mndtl_opt_bar, .mndtl_scr_area {
    max-height: 400px !important;
}

ol, ul {
    padding-left: 0rem;
}



.cmitem_cardbnfit_cont {
    /* font-size: 10px;
    color: tomato; */
}

.cmitem_cardbnfit_cont a {
    text-decoration: none;
}

.cmitem_cardbnfit_cont li {
    list-style: none;
}

.cmitem_cardbnfit_cont em {
    font-style: normal;
    font-weight: bold;
}

.card_info_tx1 {
    font-size: 14px;
}

.isView {
    /* display: block; */
}
.isNonView {
    display: none;
}