
.gnb_mall {
    width: auto !important;
}
.gnb_mall a:before {
    background: none !important;
} 
ul {
    padding-left: 0px !important;
}
a:link {
    text-decoration: none !important;
}
.cmitem_quick_unit.ty_horizontal_scroll .cmitem_quick_cont {
    margin: auto !important;
    padding: 0px 0px 0px 3%;
}
.cmitem_quick_unit.ty_horizontal_scroll .cmitem_quick_lst > li {
    width: 90px !important;
}

.cmtit_heading .cmtit_subtxt {
    margin-bottom: 0px !important;
}

/* ProductPrice */
.isSamePrice {
    visibility: hidden;
}

/* ProductImgTxt */
.mndtl_tmpl_detail {
    height: 800px;
    overflow: hidden;
}

.auto {
    height: auto !important;
}

.detail_button{
    padding: 5%;
    text-align: center;
}

.isNonView {
    display : none;
}

/* ProductBottomButton */
.ProductBottomButton ul.btm_bgn_bx.type_other1 {
    padding: 0;
}

.ProductBottomButton a{
    text-decoration: none;
}

.mndtl_opt_btm {
    bottom: -2%;
}

.isNonView {
    display: none;
}

.arrow_button {
    padding-left: 49%;
}

.select_box {
    margin: 1%;
    margin-bottom: 2%;
}

.mndtl_opt_bar, .mndtl_scr_area {
    max-height: 400px !important;
}

ol, ul {
    padding-left: 0rem;
}
