header {

}

header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
} 

header .logo{
    margin-left: 20px;
    width: 8%;
    height: 100%;
}

header .logo h1 {
    display: flex;
}



header .search .search-icon{
    position: relative;
    right: 30px;
}


header .gnv-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo {
    display: flex;
    align-items: center;
}




