/* ProductPrice */
.isSamePrice {
    visibility: hidden;
}

/* ProductExtraInfo */
.mndtl_etc_cont {
    margin-bottom: 60px;
}

/* Review */
.mndtl_cmt_summary {
    margin-bottom: 30px;
}

.mndtl_cmtsum_desc {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* ProductBottomButton */
.optionView {
    display: block;
}

.optionNonView {
    display: none;
}