.HappyLoungeItem{
    display: flex;
    margin-top: 15px;
}
.HappyLoungeItem .plus{

    padding-top: calc( 70px );
    font-size: 30px;
    text-align: center;
}

.HappyLoungeItem .HappyLoungeItemLeft {
}


.HappyLoungeItem .HappyLoungeItemLeft a{
    display: block;
    height: 780px;
}

.HappyLoungeItem .HappyLoungeItemLeft img{
    width: 100%;
    height: 100%;
}

.HappyLoungeItem .HappyLoungeItemRight a{
    height: 183.7px;
    display: block;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    color : black;
    margin: 15px 0 15px 15px;
}

.HappyLoungeItem .HappyLoungeItemRight a:first-child{
    margin-top: 0;
}

.HappyLoungeItem .HappyLoungeItemRight a:last-child{
    margin-bottom: 0;
}


.HappyLoungeItemRight a img{
    width: 100%;
    height: 100%;
}
