.TitleUi h3{
    margin: 0;
    font-size: 30px;
    color: black;
}

.TitleUi .SubTitleUi{
    display: flex;
    justify-content: space-between;

}

.TitleUi .SubTitleUi span{
    font-size: 21px;
    color: #777;
}

.TitleUi .SubTitleUi a{
    font-size: 20px;
    color: #777;
    text-decoration: none;
}