/* ProductPrice */
/* .isSamePrice {
    visibility: hidden;
} */

/* ProductImgTxt */
/* .mndtl_tmpl_detail {
    height: 800px;
    overflow: hidden;
}

.auto {
    height: auto !important;
}

.detail_button{
    padding: 5%;
    text-align: center;
}

.isNonView {
    display : none;
} */