/* ProductPrice */
.isSamePrice {
    visibility: hidden;
}

/* ProductImgTxt */
.mndtl_tmpl_detail {
    height: 700px;
    overflow: hidden;
}

.auto {
    height: auto !important;
}

.detail_button{
    padding: 5%;
    text-align: center;
}

.isNonView {
    display : none;
}

/* ProductExtraInfo */
.mndtl_etc_cont {
    margin-bottom: 60px;
}

/* Review */
.mndtl_cmt_summary {
    margin-bottom: 30px;
}

.mndtl_cmtsum_desc {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* ProductBottomButton */
.isNonView {
    display: none;
}